body{
    margin: 0px;
    font-size: 0px; /*nécessaire pour empacher l'affichage de pixels sans raison ! */
    background-color: #4e555b;
    color:  white;
    text-shadow: 2px 2px 2px black;
}
div{
    margin: 0px;
    font-size: 1.2vw;
}

a{color:white;}

a:hover{color:white;}

#divImgMenu{
    width: 100%;
    size: auto;
    display: block;
}


#imgMenu{
    width: 100%;
}

#divMenu{
    display: block;
    size: auto;
}



.btnmenugauche{
    width: 10%;
    float: left;
    display: inline-block;
    position: relative;
}

.dp-bg-green-blue{
    background-color: #20c997;
}

.dp-border-1px-right{
    border-right: white 1px solid;

}

.dp-border-1px-left{
    border-left: white 1px solid;
}


@media (max-width: 992px) {
    .dp-hide-border{
        border: none;
    }


}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Extra styles for the cancel button */
.login-cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.login-imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.login-avatar {
    width: 40%;
    border-radius: 50%;
}

.login-container {
    padding: 16px;
}

span.login-psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.login-modal-content {
    background-color: #4e555b;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.login-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.login-close:hover,
.login-close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.login-animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes login-animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes login-animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.login-psw {
        display: block;
        float: none;
    }
    .login-cancelbtn {
        width: 100%;
    }
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.dp-TitleOfPage{
    font-family: "Franklin Gothic Medium Cond";
    font-size: 54px;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-align: center;
}

.dp-formulaire{
    width: 30%;
    align-content: center;
}


.dp-InputText{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.dp-formulaireBouton{
    background-color: black;
}

@media (min-width: 993px) {
    .dp-ThatFormulaire {
        border-radius: 5px;
        background-color: #343a40;
        padding: 20px;
        width: 50%;
    }

}


@media (max-width: 992px) {

    .dp-ThatFormulaire {
        border-radius: 5px;
        background-color: #343a40;
        padding: 20px;
        width: 75%;

    }

}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}


/* pictures overlay*/
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*			*/
